/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/*nav*/

nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#menu{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 38px;
    /*margin-top: 5px;*/
}

#menu a{
    padding: 30px;
}

nav img{
    margin-bottom: 50px;
    width: 10%;
}

#menu a:hover{
    color: var(--main-color);
    border-top:2px solid var(--main-color);
    padding-top: 28px;
}

/* header*/

.container-search{
    display: flex;
    margin-bottom: 49px;
}

.subtitle{
    margin-bottom: 30px;
}

.place{
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 15px 16px 15px 16px;
}

input{
    border: 1px solid var(--main-bg-color);
    padding: 15px 16px 15px 16px;
    text-align: center;
}

.container-search input:focus{
    outline: none;
    border: 2px solid var(--main-color);
}

.container-search input::placeholder{
    color: black;
    font-weight: bold;
}

button{
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 15px 16px;
    font-weight: bolder;
}
 .filtre-titre{
    font-size: 18px;
    font-weight: bold;
}
#filtre{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.selection{
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
    font-weight: bold;
}

.filtre-selec{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 19px 10px 19px;
}

.filtre-selec:hover{
    background-color: #DEEBFF;
}

/* hebergement Marseille*/

.card-Marseille{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    line-height: 12px;
}
.card-main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 25px;
}
.card-width{
    flex:1 1 30%;
}

.card-Marseille img{
    object-fit: cover;
    width: 100%;
    height: 150px ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}



.marge-card-mrs{
    margin-left: 10px;
    margin-bottom: 5px;
}

/*Activitées a Marseille*/

.box-acti{
    padding: 30px;
    box-sizing: border-box;
}
.card-activite{
    width: 25%;
    box-shadow: 0px 3px 15px 0px #0000001A;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    margin-top: 10px;
}
.card-activite img{
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}
.activite{
    gap: 30px;
    display: flex;
    flex-direction: row; 
}
.title-center{
    margin-left: 15px;
}

/*footer*/

#footer{
    background-color: var(--main-bg-color);
}
.pied-de-page{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 164px;
    gap: 15px;
    margin-left:20px;
}
.mention{
    display: flex;
    justify-content: space-around;
}
 section h4{
    margin: 0;
    margin-top: 20px;
}

/* base de CSS*/

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%; 
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /*ajouts perso*/
    #filtre{
        display:block;
    }
    .populaires-width{
        width: 100%;
    }
    .card-activite img{
        object-fit: cover;
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* nav et header */

    .main-container{
        padding: 0;
    }
    nav{
        flex-direction: column;
        height: auto;
        border-bottom:2px solid var(--main-bg-color);
    }
    nav img{
        margin-bottom: 0;
        margin-top: 30px;
        width: 30%;
    }
    #menu{
        margin-bottom: 0px;
        width: 100%;
        justify-content: space-between;
    }
    #menu a{
        width: 50%;
        text-align: center;
    }
    #menu a:hover{
        border-top: none;
        border-bottom:2px solid var(--main-color);
    }
    form{
        justify-content:center;
    }
    .container-search input{
        flex: auto;
        text-align: left;
    }
    button{
        font-size: 0;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 15px;
    }
    button::after{
        content: "\f002";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 20px;
        display:block;
    }
    .selection{
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
        padding-bottom:10px;
    }
    .filtre-selec{
        width:32% ;
        font-size: 13px;
    }

    /*cards populaire et hébergement, activités*/

    .hebergements-and-populaires .populaires{
        background-color: var(--main-bg-color);
        border-radius: 0px;
    }
    .hebergements-and-populaires .hebergements{
        background-color: white;
        border-radius: 0px;
    }
    .hebergements-and-populaires{
        flex-direction: column-reverse;
        width: 100%;
    }

    /*populaires*/

    .populaires-width{
        width: 100%;
    }
    .populaires{
        margin-bottom: 20px;
    }
    .populaires-cards{
        gap:0px;
    }
    .populaires-cards, .card-main,.activite,.mention{
        flex-direction: column;
    }

    /*Hébergement*/

    .card-width{
        width: 100%;
    }

    /*Activités*/

   .card-activite{
        width: 100%;
        gap: 15px;
   }
   .card-activite img{
        width: 100%;
   }

    /*footer*/

    .pied-de-page{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
}